.titulo{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}



h1{
    font-size: 28px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    font-size: 20px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    font-size: 20px;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

div{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
iframe{
    display: block;
    margin: 0 auto; 
    border: 0,6px solid rgb(0, 0, 0);
    border-radius: 7px;
}

ul{
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

button{
    background-color: #4d0000;
    height: auto;
    width: auto;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}